@import '../../../styles/variables.scss';
/* todo: clean up css and create arch for this  */
/*navigation*/
/*li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
}*/
/* map */
/* Patient Details */
/* Order */
/* search and cart */
/* breadcrumbs */
/** The Spacing **/
/** Primary button **/
/* search */
@keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes "load1" {
	0%,80%,100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes "load1" {
	0%,80%,100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
body {
	background-color: $whitesmoke;
	margin: 0;
	text-align: center;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: $font_family_lato;
	&:not(.nav-btn-only) {
		.primary-nav {
			display: inline-block;
			position: relative;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			ul.navigation {
				list-style: none;
				margin-bottom: 0;
				margin-top: 0;
				>li.has-child {
					&:hover {
						>a {
							color: $color_3;
							border: 2px solid rgba(0, 0, 0, 0.2);
							&:before {
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
								opacity: 0;
							}
							&:after {
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
								opacity: 0.5;
							}
						}
						.wrapper {
							filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
							opacity: 1;
							-moz-transform: translateY(0px);
							-ms-transform: translateY(0px);
							-webkit-transform: translateY(0px);
							transform: translateY(0px);
							pointer-events: auto;
						}
					}
				}
				li {
					display: inline-block;
					position: relative;
					text-align: left;
					padding: 0.25rem 0.75rem;
					border-radius: 3px;
					ul {
						padding-left: 0;
						li {
							-moz-transition: 0.3s ease;
							-webkit-transition: 0.3s ease;
							transition: 0.3s ease;
							display: block;
							white-space: nowrap;
							border-bottom: 1px solid rgba(0, 0, 0, 0.1);
							background-color: $background_color_4;
							&:last-child {
								border-bottom: none;
							}
							&:hover {
								background-color: $background_color_6;
								color: $color_3;
								ul {
									li {
										background-color: $transparent;
										&:hover {
											background-color: $background_color_7;
										}
									}
								}
								>.nav-wrapper {
									filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
									opacity: 1;
									pointer-events: auto;
								}
							}
							.nav-wrapper {
								-moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
								-webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
								box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
								opacity: 0;
								-moz-transition: 0.3s ease;
								-webkit-transition: 0.3s ease;
								transition: 0.3s ease;
								background-color: $background_color_4;
								pointer-events: none;
								position: absolute;
								z-index: 1;
								right: 0;
								min-width: 150px;
								transform: translateX(100%);
								top: 0;
							}
							ul {
								li {
									&:first-child {
										border-top: 1px solid rgba(0, 0, 0, 0.1);
									}
								}
							}
							a {
								display: block !important;
								padding: 6px 8px !important;
								&:hover {
									color: $color_3;
								}
							}
						}
						li.has-child {
							>a {
								&:before {
									content: "\f054";
								}
							}
						}
					}
				}
				li.has-child {
					>a {
						padding-right: 20px;
						&:before {
							text-shadow: none;
							-webkit-font-smoothing: antialiased;
							font-family: $font_family_2;
							speak: none;
							font-weight: normal;
							font-variant: normal;
							line-height: 1;
							text-transform: none;
							-moz-transition: all 1s;
							-webkit-transition: all 1s;
							transition: all 1s;
							filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
							opacity: 0.5;
							color: $color_5;
							content: "\f078";
							position: absolute;
							font-size: 10px;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							height: 11px;
							padding-right: 7px;
						}
						&:after {
							text-shadow: none;
							-webkit-font-smoothing: antialiased;
							font-family: $font_family_2;
							speak: none;
							font-weight: normal;
							font-variant: normal;
							line-height: 1;
							text-transform: none;
							-moz-transition: all 1s;
							-webkit-transition: all 1s;
							transition: all 1s;
							filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
							opacity: 0;
							color: $color_5;
							content: "\f077";
							position: absolute;
							font-size: 10px;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							height: 11px;
							padding-right: 7px;
						}
					}
					>.wrapper {
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
						opacity: 0;
						-moz-transition: 0.3s ease;
						-webkit-transition: 0.3s ease;
						transition: 0.3s ease;
						-moz-transform: translateY(5px);
						-ms-transform: translateY(5px);
						-webkit-transform: translateY(5px);
						transform: translateY(5px);
						pointer-events: none;
						position: absolute;
						right: 0;
						top: 100%;
						z-index: 1;
						right: inherit;
						left: 0;
						>.nav-wrapper {
							-moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
							-webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
							box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
							padding-left: 0;
							margin-top: 10px;
							min-width: 150px;
							>ul {
								>li {
									&:first-child {
										position: relative;
										&:hover {
											&:after {
												border-color: $border_color_3;
											}
										}
										&:after {
											filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
											opacity: 1;
											-moz-transition: 0.3s ease;
											-webkit-transition: 0.3s ease;
											transition: 0.3s ease;
											width: 0;
											height: 0;
											border-style: solid;
											border-width: 0 5px 8px 5px;
											border-color: $border_color_4;
											position: absolute;
											z-index: 1;
											top: -6px;
											left: 12px;
											content: "";
										}
									}
								}
							}
						}
						.mega-menu {
							.nav-wrapper {
								-moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
								-webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
								box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
								padding-left: 0;
								margin-top: 10px;
								min-width: 150px;
								>ul {
									>li {
										&:first-child {
											position: relative;
											&:hover {
												&:after {
													border-color: $border_color_3;
												}
											}
											&:after {
												filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
												opacity: 1;
												-moz-transition: 0.3s ease;
												-webkit-transition: 0.3s ease;
												transition: 0.3s ease;
												width: 0;
												height: 0;
												border-style: solid;
												border-width: 0 5px 8px 5px;
												border-color: $border_color_4;
												position: absolute;
												z-index: 1;
												top: -6px;
												left: 12px;
												content: "";
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.primary-nav.has-mega-menu {
			position: initial;
			.mega-menu-parent {
				position: initial;
				display: inline-block;
				&:hover {
					.mega-menu {
						visibility: visible;
						filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
						opacity: 1;
						pointer-events: auto;
						&:hover {
							visibility: visible;
							filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
							opacity: 1;
							pointer-events: auto;
						}
					}
				}
				.mega-menu {
					visibility: hidden;
					pointer-events: none;
					position: absolute;
					right: -7px;
					text-align: left;
					top: -2px;
					&:hover {
						visibility: visible;
						filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
						opacity: 1;
						pointer-events: auto;
					}
					.nav-wrapper {
						-moz-transition: 0.3s ease;
						-webkit-transition: 0.3s ease;
						transition: 0.3s ease;
						background-color: $background_color_4;
					}
					h4 {
						border-bottom: 1px solid rgba(0, 0, 0, 0.1);
						padding-bottom: 15px;
						margin-bottom: 10px;
						margin-top: 0;
					}
					ul {
						li {
							-moz-border-radius: 0;
							-webkit-border-radius: 0;
							border-radius: 0;
							display: block;
							background-color: $transparent;
							border: none;
							a {
								filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
								opacity: 0.7;
								-moz-border-radius: 0px;
								-webkit-border-radius: 0px;
								border-radius: 0px;
								border: none;
								padding: 3px 0 !important;
								display: block;
								font-weight: bold;
								display: inline-block;
								&:hover {
									filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
									opacity: 1;
									color: $color_3;
								}
							}
						}
					}
					.container {
						padding-left: 30px;
						padding-right: 0px;
						padding-top: 30px;
						padding-bottom: 30px;
						.row {
							display: table;
							width: 100%;
							height: 100%;
							>[class*=" col-"] {
								display: table;
								height: 100%;
							}
						}
					}
					.image {
						width: 100%;
						height: 100%;
						position: relative;
						display: table;
						z-index: 1;
					}
					.btn {
						z-index: 1;
					}
				}
				.wrapper {
					right: 0 !important;
					left: inherit !important;
				}
			}
		}
	}
}
#pharmacy-heading {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 20%;
	padding-right: 40px;
	font-weight: bold;
	font-size: 30px;
	color: $color_1;
	background: none;
}
.parallax {
	background-image: url("http://nepszava.hu/picture/93572/normal/373/00373742.jpeg");
	min-height: 100vh;
	background-attachment: initial;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax1 {
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-container {
	height: 100%;
}
.home-app-logo {
	text-align: left;
}
.page-title {
	padding-top: 40px;
	padding-bottom: 20px;
	color: $color_2;
	display: table;
	width: 100%;
	height: auto;
	h3 {
		font-weight: normal;
		font-size: 25px;
	}
}
.overlay {
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 5, 2, 0.51);
}
.background {
	background-size: cover;
	width: 100%;
	height: 500px;
}
.fa.fa-file-text {
	padding-right: 5px;
}
.fa.fa-phone {
	padding-right: 5px;
}
a {
	-moz-transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	color: $color_3;
	text-decoration: none;
	position: relative;
	&:hover {
		color: $color_4;
		outline: none !important;
		text-decoration: none;
	}
	&:active {
		color: $color_4;
		outline: none !important;
		text-decoration: none;
	}
	&:focus {
		color: $color_4;
		outline: none !important;
		text-decoration: none;
	}
}
.btn.btn-primary {
	background-color: $background_color_2;
	color: $color_2;
	border-color: $border_color_1;
	border-radius: 30px;
	padding: 8px 8px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	border-width: 2px;
	margin: 2px 2px;
	transform-style: preserve-3d;
	border-width: 2px;
	border-style: solid;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	&:hover {
		background-color: $background_color_3;
		border-color: $border_color_2;
	}
}
#page-header {
	z-index: 999;
	position: relative;
	width: 100%;
	nav {
		-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		display: table;
		width: 100%;
		background-color: $background_color_8;
		padding: 17px 7px;
		position: relative;
		z-index: 999;
	}
	.left {
		padding: 0px;
		text-align: left;
		display: table-cell;
		vertical-align: middle;
	}
	.right {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		position: relative;
	}
	.secondary-nav {
		display: inline-block;
		margin-right: 10px;
		a {
			&:not(.btn) {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
				opacity: 0.9;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				border-radius: 30px;
				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 11px;
				color: $color_6;
				margin: 0;
				border: 2px solid transparent;
				padding: 10px;
				&:hover {
					color: $color_2;
					background-color: $background_color_3;
				}
			}
			&:not(.btn).promoted {
				color: $color_3;
				font-weight: 800;
			}
		}
		li.has-child {
			>a {
				padding-right: 20px;
			}
		}
	}
	.primary-nav {
		a {
			&:not(.btn) {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
				opacity: 0.9;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				border-radius: 30px;
				display: inline-block;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 11px;
				color: $color_6;
				margin: 0;
				border: 2px solid transparent;
				padding: 10px;
				&:hover {
					color: $color_2;
					background-color: $background_color_3;
				}
			}
			&:not(.btn).promoted {
				color: $color_3;
				font-weight: 800;
			}
		}
		li.has-child {
			>a {
				padding-right: 20px;
			}
		}
		>ul {
			>li.active {
				>a {
					-moz-transform-style: preserve-3d;
					-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
					filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
					opacity: 1;
					color: $color_3;
					padding: 10px;
					border: 2px solid rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
	.nav-btn {
		-moz-transition: 0.3s ease;
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: none;
		padding: 8px;
		cursor: pointer;
		position: absolute;
		top: -2px;
		bottom: 0;
		height: 28px;
		right: 0;
		margin: auto;
		background-color: $transparent;
		-moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
		box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.4);
		&:hover {
			background-color: $background_color_3;
			i {
				background-color: $background_color_4;
				&:last-child {
					width: 12px;
				}
			}
		}
		i {
			-moz-transition: 0.3s ease;
			-webkit-transition: 0.3s ease;
			transition: 0.3s ease;
			height: 2px;
			width: 12px;
			background-color: $background_color_4;
			margin-bottom: 2px;
			display: block;
			background-color: $background_color_2;
			&:last-child {
				width: 10px;
				margin-bottom: 0px;
			}
		}
	}
	.nav-btn.active {
		background-color: $background_color_3;
		i {
			background-color: $background_color_4;
			&:last-child {
				width: 12px;
			}
		}
	}
	.btn.icon {
		i {
			margin-left: 0;
		}
	}
}
body.nav-btn-only {
	#page-header {
		.nav-btn {
			display: block;
		}
		.right {
			padding-right: 40px;
		}
		.primary-nav {
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-moz-transition: 0.3s ease;
			-webkit-transition: 0.3s ease;
			transition: 0.3s ease;
			-moz-transform: translateY(10px);
			-ms-transform: translateY(10px);
			-webkit-transform: translateY(10px);
			transform: translateY(10px);
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			opacity: 0;
			-moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
			-webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
			box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.33);
			visibility: hidden;
			position: absolute;
			top: 100%;
			margin-top: 6px;
			background-color: $background_color_2;
			padding-right: 0;
			margin-right: 0;
			border: 0;
			right: 0;
			ul.navigation {
				>li {
					&:first-child {
						&:after {
							-moz-transition: 0.3s ease;
							-webkit-transition: 0.3s ease;
							transition: 0.3s ease;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 5px 8px 5px;
							border-color: $border_color_5;
							position: absolute;
							z-index: 1;
							top: -6px;
							right: 8px;
							content: "";
						}
					}
				}
				>li.has-child {
					&:hover {
						a {
							border: none;
							color: $color_2;
						}
					}
				}
			}
			ul {
				padding-left: 0;
				min-width: 220px;
				li {
					-moz-transition: 0.3s ease;
					-webkit-transition: 0.3s ease;
					transition: 0.3s ease;
					display: block;
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					&:hover {
						background-color: $background_color_11;
						a {
							border: none;
						}
					}
					.wrapper {
						position: relative;
						padding-top: 0;
					}
					a {
						-moz-border-radius: 1px;
						-webkit-border-radius: 1px;
						border-radius: 1px;
						font-weight: 800;
						padding: 10px;
						display: block;
						border: none;
						color: $color_2;
						position: relative;
						&:hover {
							color: $color_2;
						}
					}
					a.has-child {
						padding-right: 25px;
						&:before {
							color: $color_2;
							padding-right: 10px;
						}
						&:after {
							color: $color_2;
							padding-right: 10px;
						}
					}
					a.has-child[aria-expanded=true] {
						background-color: $background_color_11;
					}
					.nav-wrapper {
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
						box-shadow: none;
						margin-top: 0;
						position: relative;
						ul {
							background-color: $background_color_11;
							li {
								background-color: $transparent;
								border-bottom: 1px solid rgba(255, 255, 255, 0.1);
								&:first-child {
									border-top: 1px solid rgba(255, 255, 255, 0.1);
								}
								&:hover {
									background-color: $background_color_11;
								}
							}
						}
					}
				}
				li.active {
					background-color: $background_color_11;
					a {
						border: none;
						color: $color_2;
					}
				}
				li.has-child {
					>a {
						padding-right: 25px;
						&:before {
							text-shadow: none;
							-webkit-font-smoothing: antialiased;
							font-family: $font_family_2;
							speak: none;
							font-weight: normal;
							font-variant: normal;
							line-height: 1;
							text-transform: none;
							-moz-transition: all 1s;
							-webkit-transition: all 1s;
							transition: all 1s;
							filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
							opacity: 0.5;
							color: $color_2;
							content: "\f078";
							position: absolute;
							font-size: 10px;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							height: 11px;
							padding-right: 7px;
							color: $color_2;
						}
						&:after {
							color: $color_2;
						}
					}
				}
			}
		}
		.primary-nav.show {
			visibility: visible;
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
			opacity: 1;
		}
		.primary-nav.has-mega-menu {
			position: absolute;
			.mega-menu-parent {
				position: relative;
				display: block;
				.mega-menu {
					filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
					opacity: 1;
					background-color: $background_color_9;
					visibility: visible;
					pointer-events: auto;
					position: relative;
					right: 0;
					text-align: inherit;
					padding-top: 0;
					.wrapper {
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
						box-shadow: none;
						background-color: $background_color_10;
						padding-top: 0px;
						padding-bottom: 0px;
					}
					h4 {
						border-bottom: none;
						padding-bottom: 0px;
						margin-bottom: 0px;
						margin-top: 0px;
						color: $color_2;
						font-weight: 800;
						font-size: 11px;
						padding-top: 2px;
						padding-bottom: 2px;
					}
					a {
						font-weight: 800;
						&:hover {
							background-color: $background_color_11;
						}
					}
					a.has-child {
						padding-right: 25px;
						&:before {
							text-shadow: none;
							-webkit-font-smoothing: antialiased;
							font-family: $font_family_2;
							speak: none;
							font-weight: normal;
							font-variant: normal;
							line-height: 1;
							text-transform: none;
							-moz-transition: all 1s;
							-webkit-transition: all 1s;
							transition: all 1s;
							filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
							opacity: 0.5;
							color: $color_2;
							content: "\f078";
							position: absolute;
							font-size: 10px;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
							height: 11px;
							padding-right: 7px;
							color: $color_2;
						}
						&:after {
							color: $color_2;
						}
					}
					ul {
						background-color: $background_color_9;
						li {
							a {
								display: block;
								padding: 8px 10px;
							}
						}
					}
					.container {
						padding-left: 0px;
						padding-right: 0px;
						width: auto;
						padding-top: 0;
						padding-bottom: 0;
						.row {
							display: block;
							width: inherit;
							height: inherit;
							padding-right: 0px;
							padding-left: 0px;
							>[class*=" col-"] {
								display: block;
								height: 100%;
								width: 100%;
								clear: both;
								margin-bottom: 0px;
								&:last-child {
									margin-bottom: 0;
								}
								&:first-child {
									>a {
										border-top: 1px solid rgba(255, 255, 255, 0.1);
									}
								}
								a {
									border-bottom: 1px solid rgba(255, 255, 255, 0.1);
								}
							}
						}
					}
					.image {
						width: 100%;
						height: 100%;
						position: relative;
						display: table;
						z-index: 1;
					}
					.btn {
						z-index: 1;
					}
				}
			}
		}
	}
}
.navbar {
	margin: 0 auto;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	display: table;
	width: 100%;
	background-color: $background_color_8;
	padding: 17px 7px;
	position: relative;
	z-index: 999;
}
.breadcrumb {
	border-radius: 0;
	>li {
		&+li {
			&:before {
				color: $color_7;
				content: "/ ";
				padding: 0 5px;
			}
		}
	}
}
.textInput {
	margin: 5px;
	webkit-box-shadow: 1px 1px 5px 0px rgba(69, 68, 69, 0.59);
	moz-box-shadow: 1px 1px 5px 0px rgba(69, 68, 69, 0.59);
	box-shadow: 1px 1px 5px 0px rgba(69, 68, 69, 0.59);
}
.textInput.form-control.invalid {
	border-color: $border_color_6;
}
.textInput.form-control.valid {
	border-color: $border_color_7;
}
.col-xs-3 {
	padding-right: 0;
}
.col-xs-9 {
	padding-left: 0;
	padding-bottom: 0;
}
.btn {
	&:hover {
		background-color: $background_color_3;
	}
}
input[type="radio"] {
	&:checked {
		&~label {
			box-shadow: 1px 1px 5px 1px rgba(69, 68, 69, 0.59);
		}
	}
	display: none;
}
.radio.male {
	&~label {
		&:before {
			content: "\f183";
			padding: 10px;
			font-size: 20px;
			font-family: $font_family_3;
			color: $color_4;
		}
	}
}
.radio.female {
	&~label {
		&:before {
			content: "\f182";
			padding: 10px;
			font-size: 20px;
			font-family: $font_family_3;
			color: $color_3;
		}
	}
}
.radio.cash {
	&~label {
		&:before {
			content: "\f0d6";
			padding: 10px;
			font-size: 20px;
			font-family: $font_family_3;
		}
	}
}
.radio.card {
	&~label {
		&:before {
			content: "\f09d";
			padding: 10px;
			font-size: 20px;
			font-family: $font_family_3;
		}
	}
}
.radio-container {
	display: inline-block;
}
.btn.submit {
	background-color: $background_color_3;
	color: $color_8;
	&:hover {
		background-color: $transparent;
		border: 2px solid rgb(0, 115, 187);
		color: $color_9;
		transition: 0.1s;
	}
}
.validation-error {
	color: $color_10;
	margin: 0;
}
.map {
	padding: 0;
}
.geocoding-results {
	text-align: left;
}
.autocomplete {
	z-index: 1;
	position: relative;
	padding: 20px 10px 10px 10px;
	width: 500px;
	top: 10em;
	left: 18em;
	background-color: $background_color_12;
	-webkit-box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
	-moz-box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
	box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
}
.addressform {
	padding-top: 50px;
	margin: 0 auto;
}
.address {
	background-color: $background_color_12;
}
.fa.fa-location-arrow {
	padding-right: 10px;
}
.patient {
	height: 100%;
}
.patient-form {
	max-width: 450px;
	margin: 0 auto;
}
.order {
	margin: 0 auto;
	Button {
		margin-top: 20px;
		background-color: $background_color_3;
		color: $color_8;
		border: none;
		padding: 10px 50px 10px 50px;
	}
}
.compact {
	display: inline-block;
	text-align: center;
}
.cart {
	padding-top: 100px;
	background-color: $background_color_3;
	color: $color_8;
	height: 100%;
	display: table;
	margin: 0 auto;
	background: transparent;
	th {
		padding: 0em 2em 0em 2em;
		text-align: left;
	}
	table {
		padding-left: 500px;
	}
}
.cart-page {
	color: $color_2;
	font-family: $font_family_4;
	width: 100%;
	h2 {
		font-size: 20px;
		font-weight: normal;
	}
}
.purchase.btn {
	background-color: $background_color_13;
	border: none;
	border-radius: 0px;
	padding: 10px 20px 10px 5px;
	transition: 0.4s;
	&:hover {
		color: $color_9;
		background-color: $background_color_12;
	}
}
.search {
	padding-top: 20px;
	color: $color_8;
	height: 100%;
	width: 100%;
}
td {
	padding: 0em 2em 0em 2em;
	text-align: left;
}
.optionButtons {
	border: none;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	margin: 25px 2px 0px 2px;
	background: #a0cfee;
	color: $color_11;
}
.purchase {
	&:before {
		content: "\f07a";
		font-family: $font_family_5;
		padding: 10px;
	}
}
.fa.fa-home {
	padding-right: 10px;
}
.btn-breadcrumb {
	.btn {
		&:not(:last-child) {
			&:after {
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 10px solid white;
				position: absolute;
				top: 50%;
				margin-top: -17px;
				left: 100%;
				z-index: 3;
			}
			&:hover {
				&:after {
					border-left: 10px solid #0073bb;
				}
				color: $color_8;
			}
			&:before {
				content: " ";
				display: block;
				width: 0;
				height: 0;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 10px solid rgb(173, 173, 173);
				position: absolute;
				top: 50%;
				margin-top: -17px;
				margin-left: 1px;
				left: 100%;
				z-index: 3;
			}
		}
		padding: 6px 12px 6px 24px;
		&:first-child {
			padding: 6px 6px 6px 10px;
		}
		&:last-child {
			padding: 6px 18px 6px 24px;
			&:hover {
				color: $color_8;
			}
		}
	}
	.btn.btn-primary {
		&:not(:last-child) {
			&:after {
				border-left: 10px solid #0073bb;
			}
			&:before {
				border-left: 10px solid #357ebd;
			}
		}
		&:hover {
			&:not(:last-child) {
				&:after {
					border-left: 10px solid #0073bb;
				}
				&:before {
					border-left: 10px solid #285e8e;
				}
			}
		}
	}
}
.ic-tokeninput {
	display: inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -moz-inline-flexbox;
	display: -ms-inline-flexbox;
	display: -o-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}
.ic-tokeninput-list {
	display: none;
	position: absolute;
	z-index: 1;
	border: 1px solid #aaa;
	background: #fff;
	top: 100%;
	left: 0;
	padding: 5px 0px;
	max-height: 400px;
	overflow: auto;
	font-size: 12px;
	font-family: $font_family_4;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.ic-tokeninput-is-open {
	.ic-tokeninput-list {
		display: block;
	}
}
.ic-tokeninput-option {
	&:focus {
		outline: 0;
		color: $color_8;
		background: hsl(200, 50%, 50%);
	}
	display: block;
	padding: 2px 16px;
	cursor: default;
}
.ic-tokeninput-input {
	padding-right: 20px;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 0 none;
	outline: 0;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: $transparent;
}
.ic-token-label {
	line-height: 20px;
}
.ic-tokeninput-button {
	&:active {
		color: $color_12;
	}
	display: none;
	display: inline-block;
	position: absolute;
	cursor: default;
	outline: none;
	top: 2px;
	right: 6px;
	border: none;
	font-size: 18px;
	cursor: default;
}
.ic-tokeninput-selected {
	&:before {
		content: '✓';
		position: absolute;
		left: 4px;
	}
}
.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: -webkit-flex;
	display: flex;
}
.inline-flex {
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -moz-inline-flexbox;
	display: -ms-inline-flexbox;
	display: -o-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}
.ic-tokens {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	list-style: none;
	padding: 6px 6px;
	border: 5px solid #337ab7;
	background-color: $background_color_12;
	border-radius: 1px;
	cursor: text;
	position: relative;
	will-change: transform;
	flex-wrap: wrap;
	min-height: 41px;
	margin: auto;
	width: 60%;
	color: $color_13;
}
.ic-tokens-disabled {
	border: 1px solid #CCCCCC;
	background-color: $background_color_14;
	color: $color_14;
	cursor: default;
	-moz-box-shadow: inset 0 0 6px #ddd;
	-webkit-box-shadow: inset 0 0 6px #ddd;
	box-shadow: inset 0 0 6px #ddd;
}
.ic-token {
	border-radius: 3px;
	padding: 3px 8px;
	margin-right: 6px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: none;
	background: #a0cfee;
	color: $color_11;
	font-family: $font_family_4;
}
.ic-token-delete-button {
	font-size: 1rem;
	margin-right: 5px;
	cursor: pointer;
	&:hover {
		color: $color_15;
	}
}
.ic-tokeninput-loading {
	position: absolute;
	bottom: 9px;
	right: 2px;
	align-items: center;
	padding-right: 6px;
}
.fa.fa-map-marker.suggestion {
	margin-right: 5px;
}
.fa.fa-map-marker.header {
	color: $color_16;
}
.loader {
	background: rgba(45, 62, 80, 0.54);
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
	color: $color_17;
	text-indent: -9999em;
	margin: 3rem auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	&:before {
		background: rgba(45, 62, 80, 0.54);
		-webkit-animation: load1 1s infinite ease-in-out;
		animation: load1 1s infinite ease-in-out;
		width: 1em;
		height: 4em;
		position: absolute;
		top: 0;
		content: '';
		left: -1.5em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	&:after {
		background: rgba(45, 62, 80, 0.54);
		-webkit-animation: load1 1s infinite ease-in-out;
		animation: load1 1s infinite ease-in-out;
		width: 1em;
		height: 4em;
		position: absolute;
		top: 0;
		content: '';
		left: 1.5em;
	}
}
@media (max-width: 880px) {
	.autocomplete-container {
		text-align: left;
	}
}
@media (min-width: 768px) {
	.alert {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		-webkit-animation: fadein .75s;
		-moz-animation: fadein .75s;
		-ms-animation: fadein .75s;
		-o-animation: fadein .75s;
		animation: fadein .75s;
	}
	.form-group {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5rem;
		width: 50%;
	}
}
